body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.video {
    border: 1px solid orange;
    width: 100%;
    max-width: 1000px;
}
